.Rproj.user
.Rhistory
.RData
20_data.xls
Copy of BlackMarketvsOfficialInflation1-27.xlsx
2015-11-19-Oxford-ReproducibleResearchR.aux
2015-11-19-Oxford-ReproducibleResearchR.dvi
2015-11-19-Oxford-ReproducibleResearchR.log
2015-11-19-Oxford-ReproducibleResearchR.nav
2015-11-19-Oxford-ReproducibleResearchR.out
2015-11-19-Oxford-ReproducibleResearchR.ps
2015-11-19-Oxford-ReproducibleResearchR.snm
2015-11-19-Oxford-ReproducibleResearchR.toc
2015-11-19-Oxford-ReproducibleResearchRNotes.aux
2015-11-19-Oxford-ReproducibleResearchRNotes.dvi
2015-11-19-Oxford-ReproducibleResearchRNotes.log
2015-11-19-Oxford-ReproducibleResearchRNotes.pdf
2015-11-19-Oxford-ReproducibleResearchRNotes.ps
2015-11-19-Oxford-ReproducibleResearchRNotes.toc
25_data.xls
25_data.xls.crdownload
RR-keycolumns.xlsx
RR-keycolumns.xlsx.crdownload
national_debts_and_economic_growth.xls
2015-11-19-Oxford-ReproducibleResearchR.bbl
2015-11-19-Oxford-ReproducibleResearchR.blg
2015-11-19-Oxford-ReproducibleResearchRStreamlined.aux
2015-11-19-Oxford-ReproducibleResearchRStreamlined.dvi
2015-11-19-Oxford-ReproducibleResearchRStreamlined.log
2015-11-19-Oxford-ReproducibleResearchRStreamlined.nav
2015-11-19-Oxford-ReproducibleResearchRStreamlined.out
2015-11-19-Oxford-ReproducibleResearchRStreamlined.ps
2015-11-19-Oxford-ReproducibleResearchRStreamlined.snm
2015-11-19-Oxford-ReproducibleResearchRStreamlined.toc
2015-11-19-Oxford-ReproducibleResearchR.pdf
2015-11-19-Oxford-ReproducibleResearchRNotes.tex
2015-11-19-Oxford-ReproducibleResearchR.tex
2015-11-19-Oxford-ReproducibleResearchRStreamlined.tex
cache
